/* Content Styling */

h1 {
    color: palevioletred;
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    }

h2 {
    color: crimson;
    text-align: center;
    
}













/* MEDIA QUERIES */
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) 

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) 
